.mask-styling {
  -webkit-mask-image: url("../../svg/circle.svg");
  mask-image: url("../../svg/circle.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: right;
  mask-position: right;
}
